base_config:
  hosts:
    - cores: 2
      resources:
        - name: mem
          quantity: 4096
      invoker: FIFOInvoker
      count: 18
  scheduler: BasicScheduler
  idle_deployer: BasicDeployer
  cpu_policy: contended
coldstart_policies:
  - No unloading
  - 5-minute keepalive
  - 10-minute keepalive
  - 20-minute keepalive
  - 30-minute keepalive
  - 45-minute keepalive
  - 60-minute keepalive
  - 90-minute keepalive
  - 120-minute keepalive
  - Hybrid Histogram policy, 1 hour bound
  - Hybrid Histogram policy, 2 hours bound
  - Hybrid Histogram policy, 3 hours bound
  - Hybrid Histogram policy, 4 hours bound
